/workers/venv
/services/app_worker/node_modules
/services/app_worker/src-tauri/target/
/services/app_worker/src-tauri/gen/schemas

/services/app_worker/tauri-plugin-swift/.vs
/services/app_worker/tauri-plugin-swift/.DS_Store
/services/app_worker/tauri-plugin-swift/.Thumbs.db
/services/app_worker/tauri-plugin-swift/*.sublime*
/services/app_worker/tauri-plugin-swift/.idea/
/services/app_worker/tauri-plugin-swift/debug.log
/services/app_worker/tauri-plugin-swift/package-lock.json
/services/app_worker/tauri-plugin-swift/.vscode/settings.json
/services/app_worker/tauri-plugin-swift/yarn.lock
/services/app_worker/tauri-plugin-swift//.tauri
/services/app_worker/tauri-plugin-swift//target
/services/app_worker/tauri-plugin-swift/Cargo.lock
/services/app_worker/tauri-plugin-swift/node_modules/
/services/app_worker/tauri-plugin-swift/dist-js
/services/app_worker/tauri-plugin-swift/dist

/services/app_worker/.nuxt
/services/app_worker/node_modules
