/src-tauri/target/
/src-tauri/gen/apple/
/src-tauri/gen/schemas/

/tauri-plugin-swift/.vs
/tauri-plugin-swift/.DS_Store
/tauri-plugin-swift/.Thumbs.db
/tauri-plugin-swift/*.sublime*
/tauri-plugin-swift/.idea/
/tauri-plugin-swift/debug.log
/tauri-plugin-swift/package-lock.json
/tauri-plugin-swift/.vscode/settings.json
/tauri-plugin-swift/yarn.lock
/tauri-plugin-swift/.tauri/
/tauri-plugin-swift/target/
/tauri-plugin-swift/Cargo.lock
/tauri-plugin-swift/node_modules/
/tauri-plugin-swift/dist-js/
/tauri-plugin-swift/dist/

.nuxt/
node_modules/